[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "==1.0.0"
numpy = ""
pandas = "==1.1.2"
pandas-profiling = "==2.9.0"
scikit-learn = "==0.23.2"
matplotlib = "==3.5.1"
seaborn = ""
mlxtend = "==0.17.3"
nltk = "==3.5"
scikit-image = "==0.17.2"
tqdm = "==4.50.0"
plotly = "==4.10.0"
jupyter-contrib-nbextensions = "==0.5.1"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.9"
